.accueil-intro{
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.3);
    background-image: url(../public/assets/images/image-de-fond.jpg);
    background-size: cover;
}

.accueil-title{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 8vw;
    padding-top: 20vw;
    margin-left: 15vw;
    margin-right: 15vw;
    font-weight: 600;
}

.accueil-subtitle{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 4vw;
}

.a-propos{
    margin-top: 20vw;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 0px 5px black;
    margin-bottom: 20vw;
}

.more{
    display: flex;
    justify-content: center;
    padding-bottom: 20vw;
}

.propos-title{
    margin-top: 3vw;
    margin-bottom: 10vw;
    padding-bottom: 3vw;
    border-bottom: #0d6efd solid 3px;
    font-weight: 600;
}

.skills-title{
    margin-top: 5vw;
}

.skills-section{
    margin-bottom: 20vw;
}

.button-more{
    background-color: #0d6efd;
    border-radius: 5px;
    border: none;
    font: bold;
    color: white;
    font-size: 3vw;
    width: 30vw;
    margin-top: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button-more:hover{
    background-color: #eee;
    border-radius: 5px;
    border: none;
    font: bold;
    color: black;
    font-size: 3vw;
    padding-top: 2px;
    padding-bottom: 2px;
}

.illustration{
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 10px;
    margin-top: 3vw;

}

.more-link{
    color: #eee;
    text-decoration: none;
}

.p1{
    background-color: rgb(185, 53, 53);
}

.p2{
    background-color: rgb(0, 204, 255);
}

.p3{
    background-color: rgb(250, 246, 0);
}

.p4{
    background-color: rgb(78, 122, 70);
}

.p5{
    background-color: rgb(66, 90, 167);
}

@media screen and (min-width: 768px){
    .accueil-title{
        font-size: 7vw;
    }
    
    .accueil-subtitle{
        margin: auto;
        text-align: center;
        color: white;
        font-size: 3vw;
    }

    .propos-title{
        margin-bottom: 5vw;
        padding-bottom: 1vw;
        border-bottom: #0d6efd solid 3px;
    }

    .button-more{
        background-color: #0d6efd;
        border-radius: 5px;
        border: none;
        font: bold;
        color: white;
        font-size: 2vw;
        width: 20vw;
        margin-top: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .button-more:hover{
        background-color: #eee;
        color: black;
        border-radius: 5px;
        border: none;
        font: bold;
        font-size: 2vw;
        width: 20vw;
        margin-top: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media screen and (min-width: 1200px){
    .accueil-title{
        font-size: 6vw;
    }
    
    .propos-title{
        margin-bottom: 5vw;
        padding-bottom: 1vw;
        border-bottom: #0d6efd solid 3px;
    }

    .button-more{
        background-color: #0d6efd;
        border-radius: 5px;
        border: none;
        font: bold;
        color: white;
        font-size: 1.3vw;
        width: 20vw;
        margin-top: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .button-more:hover{
        background-color: #eee;
        color: black;
        border-radius: 5px;
        border: none;
        font: bold;
        font-size: 1.3vw;
        width: 20vw;
        margin-top: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}