.bg-pic{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background-color: black, 0.3;

}

.text{
    margin-top: -50vw;

}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 8vw;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4vw;
}

.a-propos{
    margin-top: 20vw;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 0px 5px black;
}

.more{
    display: flex;
    justify-content: center;
}

.propos-title{
    margin-top: 3vw;
    margin-bottom: 10vw;
    padding-bottom: 3vw;
    border-bottom: #0d6efd solid 3px;
}

.skills-title{
    margin-top: 5vw;
}

.skills-section{
    margin-bottom: 20vw;
}

.footer{
    margin-top: 40vw;
}

.button-more{
    background-color: #0d6efd;
    border-radius: 5px;
    border: none;
    font: bold;
    color: white;
    font-size: 4vw;
    width: 30vw;
    margin-top: 30px;
}

.button-more:hover{
    background-color: #eee;
    border-radius: 5px;
    border: none;
    font: bold;
    color: black;
    font-size: 4vw;
}

.illustration{
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 10px;
    margin-top: 3vw;

}

a{
    color: #eee;
    text-decoration: none;
}

.p1{
    background-color: rgb(185, 53, 53);
}

.p2{
    background-color: rgb(0, 204, 255);
}

.p3{
    background-color: rgb(250, 246, 0);
}

.p4{
    background-color: rgb(78, 122, 70);
}

.p5{
    background-color: rgb(66, 90, 167);
}

@media screen and (min-width: 768px){
    .propos-title{
        margin-bottom: 5vw;
        padding-bottom: 1vw;
        border-bottom: #0d6efd solid 3px;
    }

    .button-more{
        background-color: #0d6efd;
        border-radius: 5px;
        border: none;
        font: bold;
        color: white;
        font-size: 3vw;
        width: 20vw;
        margin-top: 30px;
    }

    .button-more:hover{
        background-color: #eee;
        color: black;
        border-radius: 5px;
        border: none;
        font: bold;
        font-size: 3vw;
        width: 20vw;
        margin-top: 30px;
    }
}