.blog-title{
    color: black;
    font-weight: 600;
}

.blog-intro{
    text-align: center;
}

.subtitles-blog{
    font-size: 4vw;
}

.blog-card{
    margin: auto;
    margin-top: 10vw;
    text-align: start;
}

.blog-img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog-list{
    margin-bottom: 20vw;
}

@media screen and (max-width: 768px){
    .subtitles-blog{
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media screen and (min-width: 768px){
    .card-title{
        font-size: 4vw;
    }
    
    .card-text, .card-footer{
        font-size: 2vw;
    }

    .blog-title{
        color: black;
        font-size: 5vw;
    }

    .subtitles-blog{
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px){
    .card-title{
        font-size: 3vw;
    }
    
    .card-text, .card-footer{
        font-size: 1vw;
    }

    .blog-title{
        color: black;
        font-size: 5vw;
    }

    .subtitles-blog{
        font-size: 2vw;
    }
}