header{
    background-color: #444;
    display: flex;
    justify-content: space-between;
}

.page-title{
    color: #eee;
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-top: 10px;
}

