header{
    background-color: #444;
    display: flex;
    justify-content: space-between;
}

.page-title{
    color: #eee;
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-top: 10px;
    font-size: 7vw;
}

@media screen and (min-width: 768px){
    .page-title{
        color: #eee;
        display: flex;
        justify-content: center;
        margin-left: 1vw;
        margin-top: 10px;
        font-size: 5vw;
    }
}

@media screen and (min-width: 1200px){
    .page-title{
        color: #eee;
        display: flex;
        justify-content: center;
        margin-left: 1vw;
        margin-top: 10px;
        font-size: 4vw;
    }
}

